.jumbotron {
    text-align: center;
    padding: 20px 30px;
    opacity: .7;
    color: blue;
    background-color: yellow;
    margin-left: 80px;
    margin: 60px 20px
    
    
}

.btn {
    color: black;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: pink;
    font-size: 12pt;
}

.answer:hover {
    background: white;
}

body {
    background-image: url('../img/freedom.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    text-align: center;
}
