html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-image: url("file:///Users/trina/Desktop/my%20images%20/Colors%20Pic.jpg");
}


#wrapper {
  width: 960px;
  min-height: 80%;
  box-sizing: border-box;
  padding: 5% 0;
  margin: 5% auto;
  background-color: rgb(24, 145, 30);
}

#sub-wrapper {
  position: relative;
  top: 20%;
}

button-type {
  display: block;
  width: 400px;
  height: 100px;
  margin: 10px auto 0;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
}

h1 {
  margin-bottom: 50px;
  font-family: Geo, sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  color: blue;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#start {
  margin-top: 10%;
  background: pink;
  border: 2px solid blue;
}

#quiz-area h2 {
  margin-top: 50px;
}

button:hover {
  background: white;
  border: 2px solid blue;
}






